<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Pictures</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Fitness App</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link active" href="#">Pictures</a>
          <a class="nav-item nav-link" href="/workouts">Workouts</a>
          <a class="nav-item nav-link" href="#">Entries</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" style="height:100vh">
        <div class="col-2 bg-light">
          <h3>Upload New Picture</h3>
          <form method=post action=pictures enctype=multipart/form-data>
            <div class="group mb-3">
              <strong>Angle</strong><br>
              <input type="radio" name="angle" value="front"> Front<br>
              <input type="radio" name="angle" value="back"> Back<br>
              <input type="radio" name="angle" value="side"> Side 
            </div>
            <div class="group mb-3">
              <strong>Weight</strong><br>
              <input type="number" name="weight">
            </div>
            <div class="group mb-3">
              <strong>Notes</strong><br>
              <textarea name="notes" rows="5"></textarea>
            </div>
            <div class="group mb-3">
              <strong>Date</strong><br>
              <input type="date" name="date">
            </div>
            <input type=file name=file>
            <input class="btn mt-2" type=submit value=Upload>
          </form>
        </div>
        <div class="col-10">
          <div class="container">
            {% if message and success%}
              <p style="color:green;">{{ message }}!</p>
            {% elif message %}
              <p style="color:red;">{{ message }}!</p>
            {% endif %}
            <h1>Pictures</h1>
            <ul class="list-group">
              {% for date in picDict %}
                <li class="list-group-item">
                  <div class="row">
                    <h3>Date: {{ date }}</h3>
                  </div>
                  <div class="row">
                    <div class="col-4" style="border-style: solid; border-width: 1px; border-color: lightgray">
                      <h5>Front</h5><br>
                      <strong>Weight:</strong> {{ picDict[date]['front']['weight'] }}<br>
                      <strong>Notes:</strong> {{ picDict[date]['front']['notes'] }}<br>
                      <img class="img-fluid" src="{{ picDict[date]['front']['location'] }}">
                    </div>
                    <div class="col-4" style="border-style: solid; border-width: 1px; border-color: lightgray">
                      <h5>Back</h5><br>
                      <strong>Weight:</strong> {{ picDict[date]['back']['weight'] }}<br>
                      <strong>Notes:</strong> {{ picDict[date]['back']['notes'] }}<br>
                      <img class="img-fluid" src="{{ picDict[date]['back']['location'] }}">
                    </div>
                    <div class="col-4" style="border-style: solid; border-width: 1px; border-color: lightgray">
                      <h5>Side</h5><br>
                      <strong>Weight:</strong> {{ picDict[date]['side']['weight'] }}<br>
                      <strong>Notes:</strong> {{ picDict[date]['side']['notes'] }}<br>
                      <img class="img-fluid" src="{{ picDict[date]['side']['location'] }}">
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
